@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Poppins-Regular';
    src: url('/src/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url('/src/fonts/Poppins/Poppins-Italic.ttf');
}